<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="log4net" version="3.0.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net40" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PayPalHttp" version="1.0.1" targetFramework="net472" />
</packages>