<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Abstractions" version="9.11.0" targetFramework="net472" />
  <package id="DotNetNuke.Core" version="9.11.0" targetFramework="net472" />
  <package id="DotNetNuke.DependencyInjection" version="9.11.0" targetFramework="net472" />
  <package id="DotNetNuke.Instrumentation" version="9.11.0" targetFramework="net472" />
  <package id="DotNetNuke.Web" version="9.11.0" targetFramework="net472" />
  <package id="DotNetNuke.Web.Client" version="9.11.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net40" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>