<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2013.1.220.40" newVersion="2013.1.220.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="HccFactory" value="Hotcakes.Commerce.Tests.TestHccFactory, Hotcakes.Commerce.Tests"/>
    <add key="SetupWizard" value="../../TestData/Admin/SetupWizard.xml"/>
    <add key="Category" value="../../TestData/Category.xml"/>
    <add key="Product" value="../../TestData/Product.xml"/>

    <add key="ProductImage" value="../../TestData/ProductImage.xml"/>
    <add key="ProductCategory" value="../../TestData/ProductCategory.xml"/>
    <add key="ProductFile" value="../../TestData/ProductFile.xml"/>
    <add key="RelatedProduct" value="../../TestData/RelatedProduct.xml"/>
    <add key="ProductReview" value="../../TestData/ProductReview.xml"/>
    <add key="ProductVolumeDiscount" value="../../TestData/ProductVolumeDiscount.xml"/>
    <add key="ProductRole" value="../../TestData/ProductRole.xml"/>
    <add key="ProductInventory" value="../../TestData/ProductInventory.xml"/>
    <add key="ProductVariant" value="../../TestData/ProductVariant.xml"/>
    <add key="ProductChoices" value="../../TestData/ProductChoices.xml"/>

    <add key="SystemColumnsData" value="../../TestData/Admin/SystemColumnsData.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="SiteSqlServer" connectionString="Data Source=localhost;Initial Catalog=HotcakesDevTest;User ID=sa;Password=danger" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
