/* <RadMenu / WebBlue> */

.RadMenu_MyCustomSkin .rmRootGroup,
.RadMenu_MyCustomSkin a.rmLink,
.RadMenu_MyCustomSkin .rmText,
.RadMenu_MyCustomSkin .rmLeftArrow,
.RadMenu_MyCustomSkin .rmRightArrow,
.RadMenu_MyCustomSkin .rmTopArrow,
.RadMenu_MyCustomSkin .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_MyCustomSkin .rmRootGroup
{
	border: 1px solid #6b6b63;
	background-color: #96968c;
}

.RadMenu_MyCustomSkin .rmHorizontal
{
	background-position: 0 0;
	background-repeat: repeat-x;
}

.RadMenu_MyCustomSkin .rmVertical
{
	background-position: 0 -425px;
	background-repeat: repeat-x;
}

/* <Root items> */

.RadMenu_MyCustomSkin,
.RadMenu_MyCustomSkin a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	text-decoration: none;
}

.RadMenu_MyCustomSkin a.rmLink
{
	color: #ffffff;
}

.RadMenu_MyCustomSkin a.rmLink,
.RadMenu_MyCustomSkin .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_MyCustomSkin a.rmLink:hover,
.RadMenu_MyCustomSkin a.rmFocused,
.RadMenu_MyCustomSkin a.rmSelected
{
	color: #2b2b25;
	background-position: 0 -72px;
}

.RadMenu_MyCustomSkin a.rmLink:hover .rmText,
.RadMenu_MyCustomSkin a.rmFocused .rmText,
.RadMenu_MyCustomSkin a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_MyCustomSkin a.rmExpanded,
.RadMenu_MyCustomSkin a.rmExpanded:hover
{
	color: #2b2b25;
	background-position: 0 -120px;
}

.RadMenu_MyCustomSkin a.rmExpanded .rmText,
.RadMenu_MyCustomSkin a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_MyCustomSkin a.rmDisabled,
.RadMenu_MyCustomSkin a.rmDisabled:hover
{
	color: #ababab;
}

.RadMenu_MyCustomSkin a.rmDisabled:hover,
.RadMenu_MyCustomSkin a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_MyCustomSkin .rmGroup,
.RadMenu_MyCustomSkin .rmMultiColumn,
.RadMenu_MyCustomSkin .rmGroup .rmVertical
{
	border: 1px solid #a6a69d;
	background: #f5f5f5 url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_MyCustomSkin .rmTopFix,
.RadMenu_MyCustomSkin .rmBottomFix,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_MyCustomSkin .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f5f5f5; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_MyCustomSkin .rmGroup .rmItem,
* html .rmRoundedCorners_MyCustomSkin ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f5f5f5; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_MyCustomSkin .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_MyCustomSkin .rmScrollWrap .rmItem,
* html .rmRoundedCorners_MyCustomSkin .rmHorizontal .rmItem,
* html .rmRoundedCorners_MyCustomSkin .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_MyCustomSkin .rmRoundedCorners .rmGroupColumn
{
	background-color: #f5f5f5;
}

.RadMenu_MyCustomSkin .rmBottomLeft,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_MyCustomSkin .rmRoundedCorners ul.rmGroup,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_MyCustomSkin .rmScrollWrapContainer,
* html .rmRoundedCorners_MyCustomSkin .rmGroup ul.rmGroup,
* html .rmRoundedCorners_MyCustomSkin ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_MyCustomSkin .rmTopRight,
.RadMenu_MyCustomSkin .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_MyCustomSkin .rmTopFix,
.RadMenu_MyCustomSkin .rmBottomFix,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_MyCustomSkin .rmGroup .rmFirst
{
	border-color: #a6a69d;
}

.RadMenu_MyCustomSkin li.rmTopFix,
.RadMenu_MyCustomSkin li.rmBottomFix
{
	background: #f5f5f5;
}

.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f5f5f5;
	border: 0;
}

* html .rmRoundedCorners_MyCustomSkin .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_MyCustomSkin .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_MyCustomSkin .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_MyCustomSkin .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f5f5f5;
	border: 0;
}

.RadMenu_MyCustomSkin_rtl .rmBottomLeft,
.RadMenu_MyCustomSkin_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_MyCustomSkin_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_MyCustomSkin .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_MyCustomSkin_Context_rtl ul.rmGroup,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_MyCustomSkin_rtl .rmTopRight,
.RadMenu_MyCustomSkin_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_MyCustomSkin_rtl li.rmTopFix,
.RadMenu_MyCustomSkin_rtl li.rmBottomFix,
.RadMenu_MyCustomSkin_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_MyCustomSkin_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_MyCustomSkin .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_MyCustomSkin_rtl .rmGroup,
.RadMenu_MyCustomSkin_rtl .rmMultiColumn,
.RadMenu_MyCustomSkin_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_MyCustomSkin .rmGroup a.rmLink
{
	color: #000000;
}

.RadMenu_MyCustomSkin .rmGroup a.rmLink:hover,
.RadMenu_MyCustomSkin .rmGroup a.rmFocused,
.RadMenu_MyCustomSkin .rmGroup a.rmSelected
{
	color: #4f4f42;
}

.RadMenu_MyCustomSkin .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_MyCustomSkin .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_MyCustomSkin .rmGroup .rmFirst,
.RadMenu_MyCustomSkin .rmGroup .rmLast,
.RadMenu_MyCustomSkin .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_MyCustomSkin_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_MyCustomSkin .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_MyCustomSkin .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_MyCustomSkin .rmGroup a.rmLink:hover,
.RadMenu_MyCustomSkin .rmGroup a.rmFocused,
.RadMenu_MyCustomSkin .rmGroup a.rmSelected,
.RadMenu_MyCustomSkin .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_MyCustomSkin .rmGroup a.rmLink:hover .rmText,
.RadMenu_MyCustomSkin .rmGroup a.rmFocused .rmText,
.RadMenu_MyCustomSkin .rmGroup a.rmSelected .rmText,
.RadMenu_MyCustomSkin .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

.RadMenu_MyCustomSkin .rmGroup a.rmDisabled,
.RadMenu_MyCustomSkin .rmGroup a.rmDisabled:hover
{
	color: #ababab;
}

/* <expand arrows> */

.RadMenu_MyCustomSkin .rmVertical .rmExpandRight,
.RadMenu_MyCustomSkin_Context .rmGroup .rmExpandRight,
.RadMenu_MyCustomSkin .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_MyCustomSkin .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_MyCustomSkin .rmVertical a.rmFocused .rmExpandRight,
.RadMenu_MyCustomSkin .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_MyCustomSkin .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_MyCustomSkin .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_MyCustomSkin .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_MyCustomSkin .rmVertical a.rmExpanded .rmExpandLeft,
.RadMenu_MyCustomSkin .rmVertical a.rmSelected .rmExpandLeft
{
    background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_MyCustomSkin .rmVertical a.rmLink:hover .rmExpandRight,
.RadMenu_MyCustomSkin .rmVertical a.rmSelected .rmExpandRight,
.RadMenu_MyCustomSkin .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_MyCustomSkin .rmVertical a.rmExpanded .rmExpandRight,
.RadMenu_MyCustomSkin .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_MyCustomSkin .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_MyCustomSkin .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_MyCustomSkin .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_MyCustomSkin .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_MyCustomSkin .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_MyCustomSkin .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_MyCustomSkin .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_MyCustomSkin .rmGroup a.rmExpanded .rmExpandLeft,
.RadMenu_MyCustomSkin .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_MyCustomSkin .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_MyCustomSkin .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_MyCustomSkin .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_MyCustomSkin .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_MyCustomSkin_Context .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_MyCustomSkin_Context .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_MyCustomSkin .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_MyCustomSkin_rtl a.rmLink:hover,
.RadMenu_MyCustomSkin_rtl a.rmFocused,
.RadMenu_MyCustomSkin_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_MyCustomSkin_rtl a.rmLink:hover .rmText,
.RadMenu_MyCustomSkin_rtl a.rmFocused .rmText,
.RadMenu_MyCustomSkin_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_MyCustomSkin_rtl a.rmExpanded,
.RadMenu_MyCustomSkin_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_MyCustomSkin_rtl a.rmExpanded .rmText,
.RadMenu_MyCustomSkin_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_MyCustomSkin_rtl .rmGroup a.rmLink:hover,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmFocused,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmSelected,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_MyCustomSkin_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_MyCustomSkin_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_MyCustomSkin_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl a.rmSelected .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_MyCustomSkin_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_MyCustomSkin_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_MyCustomSkin_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft,
.RadMenu_MyCustomSkin_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (WebBlue - specific, overlapping submenus)> */

.RadMenu_MyCustomSkin .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_MyCustomSkin .rmVertical .rmSlide,
.RadMenu_MyCustomSkin .rmSlide .rmSlide,
.RadMenu_MyCustomSkin_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_MyCustomSkin_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_MyCustomSkin_rtl .rmVertical .rmSlide,
.RadMenu_MyCustomSkin_rtl .rmSlide .rmSlide,
.RadMenu_MyCustomSkin_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_MyCustomSkin .rmLeftArrow,
.RadMenu_MyCustomSkin .rmRightArrow
{
	background-color: #f5f5f2;
}

.RadMenu_MyCustomSkin .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #ccccc8; }
.RadMenu_MyCustomSkin .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #ccccc8; }

.RadMenu_MyCustomSkin .rmTopArrow,
.RadMenu_MyCustomSkin .rmBottomArrow,
.RadMenu_MyCustomSkin .rmGroup .rmLeftArrow,
.RadMenu_MyCustomSkin .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_MyCustomSkin .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #ccccc8; }
.RadMenu_MyCustomSkin .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #ccccc8; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_MyCustomSkin .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_MyCustomSkin_Context .rmVertical .rmSeparator .rmText,
.RadMenu_MyCustomSkin .rmVertical .rmVertical .rmSeparator .rmText,
.RadMenu_MyCustomSkin .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -408px;
}

.RadMenu_MyCustomSkin .rmHorizontal .rmSeparator .rmText,
.RadMenu_MyCustomSkin .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / WebBlue> */
