<div class="form-horizontal" role="form">
    <fieldset>
        <legend>افزودن یک پکیج</legend>
        <div class="row">
            <div class="form-group form-group-sm col-sm-4">
                <label for="pkgName" class="col-sm-3 control-label">نام پکیج</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="pkgName" id="pkgName" name="pkgName" />
                </div>
            </div>
            <div class="form-group form-group-sm col-sm-7">
                <label for="pkgDescription" class="col-sm-3 control-label">توضیحات</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="pkgDescription" id="pkgDescription" name="pkgDescription" />
                </div>
            </div>
            <div class="col-sm-1"><a class="btn btn-primary" ng-click="AddPackage()">ثبت پکیج</a></div>
        </div>
    </fieldset>

    <fieldset>
        <legend>لیست پکیج ها </legend>
        <table>
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام پکیج</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>

                </tr>
            </thead>
            <tr ng-repeat="x in Packages">
                <td>{{$index + 1 }}</td>
                <td>{{ x.Name }}</td>
                <td>{{ x.Description }}</td>
                <td>{{ x.DateOfInserted }} <a ng-click="RemovePackage(x.ID)">حذف</a> <a ui-sref="ShowPackage({id:x.ID})">نمایش پکیج </a></td>
            </tr>
        </table>
    </fieldset>
</div>
<style>
    table{
        width:100%;
    }
    th,td,tr{text-align:center;}
</style>
