@model Hotcakes.Modules.Core.Models.SideMenuViewModel
<!-- Hotcakes Commerce: Top 10 Product view -->
<div class="container">
    <div class="row-fluid hc-top-10-products">
        <div class="col-xs-12">
            <h2>@Model.Title</h2>
            <ol>
                @foreach (var item in Model.Items)
                {
                    <li><a href="@item.Url" title="@item.Title">@item.Name</a></li>
                }
            </ol>
        </div>
    </div>
</div>