@model Hotcakes.Modules.Core.Models.CheckoutViewModel
@using Hotcakes.Modules.Core.Models;

<div class="hc-ogonecheckout">
    <h2>@Localization.GetString("OgoneCheckout")</h2>
    @Html.Raw((string)TempData["messages"])
    <div class="row-fluid">
        <a href="@Url.RouteHccUrl(HccRoute.Checkout)" class="dnnPrimaryAction">
            @Localization.GetString("GoToCheckout")
        </a>
    </div>
</div>
