<nav aria-label="@Localization.GetString("PageNavigation")">
    <!-- ko if: pager.pagesList().length > 0 -->
    <ul class="pagination" data-bind="">
        <!-- ko if: pager.previousPage() > 0 -->
        <li><a data-bind="click: function () { pager.setCurrentPage(pager.previousPage()) }" aria-label="@Localization.GetString("Previous")"><span aria-hidden="true">&laquo;</span></a></li>
        <!-- /ko -->
        <!-- ko foreach: pager.pagesList -->
        <li data-bind="css: { 'active': $data == $parent.pager.pageNumber() }"><a data-bind="text: $data, click: function () { $parent.pager.setCurrentPage($data) }"></a></li>
        <!-- /ko -->
        <!-- ko if: pager.nextPage() > 0 -->
        <li><a data-bind="click: function () { pager.setCurrentPage(pager.nextPage()) }" aria-label="@Localization.GetString("Next")"><span aria-hidden="true">&raquo;</span></a></li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->
</nav>