ul.auto-complete-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    max-height: 250px;
    overflow: auto;
}

ul.auto-complete-list li
{
    list-style-type: none;
    margin: 0;
    padding: 2px;
    background-color: white;
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
}

ul.auto-complete-list li.auto-complete-list-rollover
{
    background-color: #c5c5c5;

}