@model Hotcakes.Modules.Core.Models.ProductReviewsViewModel
<div class="container">
    <div class="row">
        <div class="col-12">
            @if (Model.Reviews.Count > 0)
            {
                foreach (var review in Model.Reviews)
                {
                    @Html.Partial("_SingleReview", review)
                    <hr/>
                }
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning">
                            @Localization.GetString("NoReviews")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>