<div class="CommentBubble" >
 <blockquote>
 <div class="CommentGravatar">
 [USERPHOTO:48]
 
 </div>
 <div class="CommentContent">[COMMENT]
 <div><span class="NormalBold">[TITLE]</span></div>
</div>
 </blockquote> 
 <cite>
 By <span class="NormalBold">[CREATEDBYUSER]</span> on <span class="NormalBold">[CREATEDDATE] </span> <span class="NormalBold">Like:[LIKENUMBER] Dislike:[DISLIKENUMBER]</span> 

 </cite> <div class="CommentCommand">[DELETE:Delete,CommentLink][APPROVE:Approve,CommentLink] [UNAPPROVE:UnApprove,CommentLink] [MARKSPAM:Spam,CommentLink] [FLAG:Flag,CommentLink] [LIKE:Like,CommentLink] 
[DISLIKE:Dislike,CommentLink] 
</div></div>