@model Hotcakes.Commerce.Catalog.Product
<div class="row-fluid hc-productrotator">
    <div class="col-xs-12">
        <div class="hc-content-block">
            @Html.Action("RenderSingleProduct", "Products", new { Area = "", product = Model })
        </div>
    </div>
</div>
<div class="clearfix"></div>