<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/runtime/ab:assemblyBinding" 
          action="update" 
          collision="save" 
          targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='System.Web.Mvc'][ab:assemblyIdentity/@publicKeyToken='31bf3856ad364e35']" 
          nameSpace="urn:schemas-microsoft-com:asm.v1" 
          nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
    </node>
  </nodes>
</configuration>