<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/appSettings/add[@key='UpdateServiceUrl']" action="remove" />
    <node path="/configuration/appSettings" action="update" key="name" collision="overwrite">
      <add key="UpdateServiceUrl" value="https://hotcakes.org/DesktopModules/HCC/UpdateService/" />
      <add key="UpdateServiceRedirect" value="https://hotcakes.org/DesktopModules/HCC/UpdateService/redirect.aspx" />
    </node>
    <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
      <add name="Context" type="Hotcakes.Application.ContextModule" preCondition="managedHandler" />
    </node>
  </nodes>
</configuration>