<?xml version="1.0" encoding="utf-8"?>
<store>
  <storeName>DemoStore</storeName>
  <lastOrderNumber>10000</lastOrderNumber>
  <settings>
    <setting name="FriendlyName" value="Demo Store" />
    <setting name="PaymentMethodsEnabled" value="4A807645-4B9D-43f1-BC07-9F233B4E713C,EE171EFD-9E4A-4eda-AD70-4CB99F28E06C" />
  </settings>
</store>