<table id="Table1" cellspacing="1" cellpadding="0" width="100%" align="center" border="0">
    <tbody>
        <tr>
            <td style="margin: 0px; background-color: black">
                <table id="Table2" cellspacing="1" cellpadding="3" width="100%" border="0">
                    <tbody>
                        <tr align="left">
                            <td style="padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 6px; color: white; padding-top: 6px; height: 25px; background-color: #cccccc" align="left"><span class="FONT-WEIGHT:" helvetica="">[CREATEDDATE]</span></td>
                        </tr>
                        <tr>
                            <td style="padding-right: 6px; padding-left: 6px; padding-bottom: 6px; color: black; padding-top: 6px; background-color: #fefefe">
                                <table id="Table3" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="Normal" align="left" width="100%"><a style="font-weight: bolder; font-size: 14px; color: #006600" target="_blank" href="[VIEWURL]">[TITLE]</a> <br />
                                                By <span class="normal">[CREATEDBYUSERNAME]</span></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="Normal" align="left" width="100%">&nbsp;<img alt="" border="0" src="[URL]" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table id="Table4" cellspacing="1" cellpadding="0" width="100%" align="center" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="margin: 0px; background-color: black">
                                                                <table id="Table5" cellspacing="1" cellpadding="3" width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="padding-right: 6px; padding-left: 6px; padding-bottom: 6px; color: black; padding-top: 6px; background-color: #fefefe"><span class="Normal">[DESCRIPTION] </span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding-right: 6px; padding-left: 6px; padding-bottom: 6px; color: black; padding-top: 6px; background-color: #fefefe" align="left">[CONTENT]</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">    var addthis_config = { "data_track_addressbar": true };</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5059f3b0582b0f65"></script>
<!-- AddThis Button END -->
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>