<table width="100%">
    <tbody>
        <tr>
            <td style="width: 1%" rowspan="3">[IMAGE]</td>
            <td style="width: 1%">[TITLE]</td>
            <td> </td>
        </tr>
        <tr>
            <td colspan="3"><span class="articlelist-date">Created by </span><span class="articleNormal">[CREATEDBYUSERNAME] </span><span class="articlelist-date">[CREATEDDATE]</span></td>
        </tr>
        <tr>
            <td colspan="3">
                <p><span class="articleNormal">[SHORTENDESCRIPTION:100]</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <p><span class="articleNormal">[CONTENT]</span></p>
            </td>
        </tr>
    </tbody>
</table>