<div class="article[MODULEID]">
[PUBLISHDATEICON]<div class="articleimage">[IMAGE:100]</div><a href="[VIEWURL]" class="title">[TITLE]</a>
<span class="author">Created by [CREATEDBYUSERNAME]</span> <span class="publishdate"> on [PUBLISHDATE]</span>
<span class="description">[SHORTENDESCRIPTION:100] </span><div style="clear: both">
                                                              <a class="readmorelink" href="[VIEWURL]">Read More..</a>
                                                              <hr />   
                                                          </div>