@model Hotcakes.Modules.Core.Areas.ContentBlocks.Models.FeaturedProductsViewModel

<div class="hc-record-grid hc-product-grid clearfix">
    @foreach (var p in Model.Items)
    {
        <div class="hc-wrap4">
            @Html.Partial("_RenderSingleProduct", p)
        </div>
    }
</div>


