[CSSLINK]
<link href="[MODULEPATH]plugins/common/jquery.ui.all.css" rel="stylesheet"></link>
[/CSSLINK] [CSSLINK]
<link href="[MODULEPATH]plugins/common/jquery.ui.theme.css" rel="stylesheet"></link>
[/CSSLINK]
[CSSLINK]
<link href="[MODULEPATH]plugins/tab/jquery.ui.tabs.css" rel="stylesheet"></link>
[/CSSLINK]
<script src="[MODULEPATH]plugins/common/jquery.ui.core.js"></script><script src="[MODULEPATH]plugins/common/jquery.ui.widget.js"></script> 
<script src="[MODULEPATH]plugins/tab/jquery.ui.tabs.js"></script>
<script>    jQuery(function () { jQuery("#tabs[MODULEID]").tabs(); });</script>
<div style="width: 100%;">
<div id="tabs[MODULEID]">
<ul>[ARTICLES]<li><a href="#Art[ITEMID]">[TITLE:20]</a></li>    [/ARTICLES] </ul>  
    