<?xml version="1.0" encoding="utf-8" ?>
<Menu>
	<Item Text="Dashboard" Url="default.aspx" Permission="" HiddenInDnnMenu="True"/>
	<Item Text="Catalog" BaseUrl="catalog/" Url="" Permission="D0201557-356F-4ee6-A24C-3C0F85E2C472">
		<Item Text="Products" Url="catalog/default.aspx"/>
		<Item Text="Categories" BaseUrl="catalog/category" Url="catalog/Categories.aspx">
			<Item Text="CategoryPerformance" Name="Category Performance" Url="catalog/Categories_Performance.aspx"/>
			<Item Text="NameDescription" Name="Name, Description, Price" Url="catalog/Categories_Edit.aspx"/>
			<Item Text="SelectProducts" Name="Select Products" Url="catalog/Categories_ManualSelection.aspx"/>
			<Item Text="Roles" Name="Roles" Url="catalog/Categories_Roles.aspx"/>
		</Item>
		<Item Text="ContentColumns" Url="content/Columns.aspx"/>
		<Item Text="SharedChoices" Url="catalog/ProductSharedChoices.aspx"/>
		<Item Text="ProductTypes" Url="catalog/ProductTypes.aspx"/>
		<Item Text="ProductTypeProperties" Url="catalog/ProductTypeProperties.aspx"/>
		<Item Text="MembershipProductTypes" Url="catalog/MembershipProductTypes.aspx"/>
		<Item Text="Reviews" Url="catalog/ReviewsToModerate.aspx"/>
		<Item Text="FileVault" Url="catalog/FileVault.aspx"/>
	</Item>
	<Item Text="Marketing" BaseUrl="marketing/" Url="" Permission="1085A525-F084-47df-B791-65DFA148D3C5">
		<Item Text="Promotion" Url="marketing/promotions.aspx"/>
		<Item Text="RewardPoints" Url="marketing/rewardspoints.aspx"/>
	</Item>
	<Item Text="People" BaseUrl="people/" Url="" Permission="5519BC97-9CE4-4549-AFF1-56B6A54D449C">
		<Item Text="Customers" BaseUrl="people/customer" Url="people/default.aspx">
			<Item Text="Profile" Name="Profile" Url="people/Users_edit.aspx"/>
			<Item Text="AddressBook" Name="AddressBook" Url="people/Users_AddressBook.aspx"/>
			<Item Text="Roles" Name="Roles" Url="people/Users_Roles.aspx"/>
		</Item>
		<Item Text="PriceGroups" Url="people/PriceGroups.aspx"/>
		<Item Text="Manufacturers" Url="people/manufacturers.aspx"/>
		<Item Text="Vendors" Url="people/vendors.aspx"/>
	</Item>
	<Item Text="Orders" BaseUrl="orders/" Url="" Permission="D9900036-0794-4aa5-B662-28E99A23E9B1">
		<Item Text="OrderManager" Url="orders/default.aspx?p=1&amp;mode=0"/>
		<Item Text="Hr" Url="" HiddenInDnnMenu="True"/>
		<Item Text="AddOrder" Url="orders/createorder.aspx"/>
		<Item Text="Hr" Url="" HiddenInDnnMenu="True"/>
		<Item Text="NewOrder" Url="orders/default.aspx?p=1&amp;mode=1"/>
		<Item Text="OnHold" Url="orders/default.aspx?p=1&amp;mode=5"/>
		<Item Text="ReadyForPayment" Url="orders/default.aspx?p=1&amp;mode=2"/>
		<Item Text="ReadyForShipping" Url="orders/default.aspx?p=1&amp;mode=3"/>
		<Item Text="Completed" Url="orders/default.aspx?p=1&amp;mode=4"/>
		<Item Text="Canceled" Url="orders/default.aspx?p=1&amp;mode=6"/>
		<Item Text="AllOrders" Url="orders/default.aspx?p=1&amp;mode=0"/>
	</Item>
	<Item Text="Reports" BaseUrl="reports/" Url="" Permission="C2B41076-A952-49ff-B2E2-DE62EFC2B554">
    <Item Text="SummaryReport" Url="reports/Summary Report/view.aspx"/>
    <Item Text="TransactionsByDay" Url="reports/Daily Sales/view.aspx"/>
    <Item Text="ProductSales" Url="reports/Daily Product Sales/view.aspx"/>
    <Item Text="OrdersByDate" Url="reports/Sales By Date/view.aspx"/>
    <Item Text="CreditCardActivity" Url="reports/Daily CC Activity/view.aspx"/>
		<Item Text="AffiliateReport" Url="people/affiliates.aspx"/>
    <Item Text="AffiliatePayments" Url="people/affiliatepayments.aspx"/>
    <Item Text="SalesByCoupon" Url="reports/Sales By Coupon/view.aspx"/>
    <Item Text="SalesTaxReport" Url="reports/Sales Tax Report/view.aspx"/>
    <Item Text="TopProducts" Url="reports/Top Products/view.aspx"/>
    <Item Text="AbandonedCarts" Url="reports/AbandonedCarts/view.aspx"/>
		<Item Text="GiftCards" Url="catalog/GiftCards.aspx"/>
	</Item>
	<Item Text="Admin" BaseUrl="configuration-admin/" Url="" Permission="0984762F-9E31-4f6f-A087-138A69973AE1">
		<Item Text="Affiliates" Url="configuration/Affiliates.aspx"/>
		<Item Text="Analytics" Url="configuration/Analytics.aspx"/>
		<Item Text="API" Url="configuration/Api.aspx"/>
		<Item Text="AddressValidation" Url="configuration/AddressValidation.aspx"/>
		<Item Text="EmailTemplates" Url="content/EmailTemplates.aspx"/>
		<Item Text="FraudScreening" Url="configuration/Fraud.aspx"/>
		<Item Text="Orders" Url="configuration/Orders.aspx"/>
		<Item Text="ShippingMethods" Url="configuration/Shipping_Methods.aspx"/>
		<Item Text="ShippingZones" Url="configuration/Shipping_Zones.aspx"/>
		<Item Text="ShippingHandling" Url="configuration/ShippingHandling.aspx"/>
		<Item Text="Extensibility" Url="configuration/Extensibility.aspx"/>
    <Item Text="ViewsManager" Url="configuration/ViewsManager.aspx"/>
    <Item Text="RoleAdministration" Url="configuration/RoleAdministration.aspx"/>
		<Item Text="GiftCardSettings" Url="configuration/GiftCardConfiguration.aspx"/>
		<Item Text="SetupWizard" Url="SetupWizard/SetupWizard.aspx?step=1"/>
	</Item>
	<Item Text="Settings" BaseUrl="configuration-settings/" Url="" Permission="0984762F-9E31-4f6f-A087-138A69973AE1">
		<Item Text="StoreNameLogo" Url="configuration/General.aspx"/>
		<Item Text="StoresAddress" Url="configuration/StoreInfo.aspx"/>
		<Item Text="GeoLocation" Url="configuration/GeoLocation.aspx"/>
		<Item Text="Countries" Url="configuration/countries.aspx"/>
		<Item Text="EmailAddresses" Url="configuration/Email.aspx"/>
		<Item Text="PaymentMethods" Url="configuration/Payment.aspx"/>
		<Item Text="ProductReviews" Url="configuration/ProductReviews.aspx"/>
		<Item Text="SocialMedia" Url="configuration/SocialMedia.aspx"/>
		<Item Text="Taxes" Url="configuration/TaxClasses.aspx"/>
    <Item Text="Caching" Url="configuration/Caching.aspx"/>
		<Item Text="PageConfiguration" Url="configuration/PageConfiguration.aspx"/>
	</Item>
</Menu>
