body {margin: 0px;padding:0px;font: 9pt "Lucida Grande",Arial,Helvetica, sans-serif;color: #000;background-color:#fff;}

.clear {clear:both;}
.printbackground {background-color:#fff;color:#000;}

#content {margin:0;padding:0 15px 10px 15px;}
h1 {text-align:left;color:#333;	margin:0 0 15px 0;padding:0;font-size:18pt;letter-spacing:-1px;}
h2 {text-align:left;font-size:9pt;font-weight:bold;padding:5px 0;text-align:left;line-height:16px;color:#666;margin:0;border-bottom:1px solid #ccc;}
h3 {font-size:17px;font-weight:bold;color:#000;padding:0;margin:0;}
.smallerText {text-align:left;font-size: 7pt;font-weight: normal;}
.smalltext {font-size:11px; color:#666;}
.tiny {font-size:9px;color:#666;}
.lightlabel {font-size:11px; color:#666;}
a:link, a:visited {color: #205900;text-decoration: none;}


/* Form Tags */
.formlabel {text-align:right;vertical-align:top;}
.formfield {text-align:left;vertical-align:top;}

.errormessage {color: #f42828;}

.row, .alternaterow {text-align: left;background-color:#F0F0F0;}
.row td, .alternaterow td {border-bottom: solid 1px #fff;color: #333;}
.rowheader {text-align:left;background-color: #666;color:#fff;}

/* control areas */
.controlarea1 {background-color:#F5F5F5;border:solid 1px #ccc;padding-top:5px;padding-bottom:5px;}
.controlarea2 {background-color: #ffc;border:solid 1px #ccc;padding-top:5px;padding-bottom:5px;}

.hide, .printhidden, #branding, #header, #mainmenu, #submenu,
.topper, .bottom, #settingsmenu, #productmenu, #footer,
.creditcardnumber, .sidemenu, .categorymenu, .hc-noprint {
    display: none;
}

.pagebreak {page-break-after:always;}

.hcPrintLicense {
    height: auto;
    overflow-y: visible;
}