@model Hotcakes.Modules.Core.Models.ProductPageViewModel

<div class="hc-product-rating">
    @if (Model.AllowReviews)
    {
        <div class="hc-rating hc-stars@(ViewBag.Avg)"></div>
        <text>-</text>
        <a href="#reviews">@Localization.GetString("Reviews")<span>(@Model.LocalProduct.ReviewsApproved.Count)</span></a>
    }
</div>
