.ZLDNN_TreeNode
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

A.ZLDNN_TreeNode:link
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

A.ZLDNN_TreeNode:visited
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

A.ZLDNN_TreeNode:hover
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

A.ZLDNN_TreeNode:active
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

.ZLDNN_TreeNodeSelected
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #dcdcdc; 
	 
}

A.ZLDNN_TreeNodeSelected:link
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #dcdcdc; 
	 
}

A.ZLDNN_TreeNodeSelected:visited
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #dcdcdc; 
	 
}

A.ZLDNN_TreeNodeSelected:hover
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #dcdcdc; 
	 
}

A.ZLDNN_TreeNodeSelected:active
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #dcdcdc; 
	 
}

  