<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="MaxVariants" value="150" />
		<!-- 
        DefaultTextEditor:
        Possible values include:
          - TinyMCE (default)
          - None
      -->
		<add key="DefaultTextEditor" value="TinyMCE" />
	</appSettings>

</configuration>
