<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="MaxVariants" value="150" />
		<!-- 
        DefaultTextEditor:
        Possible values include:
          - RadEditor (default)
          - TinyMCE
          - RadEditorAdvanced
          - None
      -->
		<add key="DefaultTextEditor" value="RadEditor" />
	</appSettings>

</configuration>
