<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net40" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net40" />
  <package id="Modernizr" version="2.5.3" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net451" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net451" developmentDependency="true" />
  <package id="PayPalCheckoutSdk" version="1.0.4" targetFramework="net472" />
  <package id="PayPalHttp" version="1.0.1" targetFramework="net472" />
</packages>