<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClientDependency" version="1.9.10" targetFramework="net48" />
  <package id="DotNetNuke.Abstractions" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.Core" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.Instrumentation" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.Web" version="9.13.0" targetFramework="net48" />
  <package id="DotNetNuke.Web.Client" version="9.13.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.2" targetFramework="net48" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="log4net" version="1.2.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net48" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net48" />
  <package id="Modernizr" version="2.5.3" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net48" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="PayPalCheckoutSdk" version="1.0.4" targetFramework="net48" />
  <package id="PayPalHttp" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net48" />
  <package id="Stripe.net" version="41.2.0" targetFramework="net48" />
</packages>
